# -----------------------
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.env.*
**/.env
.internal.env

# Logs
*.log

# Build artifacts
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# IDEs and Editors
.idea/
.vscode/
*.vscode/

# macOS
.DS_Store

# -----------------------
# Node / Vite / Vue (frontend)

# node_modules should never be committed
/frontend/node_modules/

# Vite cache
/frontend/.vite/

# Build output
/frontend/dist/

/frontend/.env
/frontend/.env.*
/frontend/npm-debug.log*

# IDE temp files inside frontend
/frontend/.DS_Store
/frontend/.vscode/
