@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Georama";
  font-stretch: 75% 125%;
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Georama/Georama-VariableFont_wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Covered By Your Grace";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf")
    format("truetype");
}

/* Custom synthwave theme overrides */
[data-theme="synthwave"] {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(20% 0.09 281.288);
  --color-base-300: oklch(30% 0.09 281.288);
  /* --color-base-content: oklch(96% 0.018 272.314); */
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(0.65 0.2191 8.08);
  --color-primary-content: oklch(28% 0.109 3.907);
  --color-secondary: oklch(0.46 0.2007 299.55);
  --color-secondary-content: oklch(89% 0.057 293.283);
  --color-accent: oklch(0.65 0.2191 8.08);
  --color-accent-content: oklch(28% 0.109 3.907);
  --color-neutral: oklch(0.46 0.1669 265.76);
  --color-neutral-content: oklch(89% 0.057 293.283);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: oklch(73.7% 0.121 32.639);
  --color-error-content: oklch(23.501% 0.096 290.329);
  --rounded-box: 2rem;
  --rounded-btn: 2rem;
  --rounded-badge: 2rem;
  --animation-btn: 0.25s;
  --animation-input: 0.25s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --radius-field: 2rem;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

p {
  @apply tracking-wide;
}

.clickable:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.bg-musicdibs {
  background: linear-gradient(160deg, #7789c9, #2e3c87, #39205e, #0d0e20);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
}

.musicdibs-shadow {
  box-shadow: 16px 16px 0 0 theme("colors.primary");
}

.musicdibs-shadow-scondary {
  box-shadow: 16px 16px 0 0 theme("colors.secondary");
}

.musicdibs-shadow-neutral {
  box-shadow: 16px 16px 0 0 theme("colors.neutral");
}

.musicdibs-card {
  @apply musicdibs-shadow rounded-xl bg-base-content p-5 text-base-200;
}

.musicdibs-card .card-title {
  @apply mb-3;
}

.musicdibs-card.secondary {
  @apply musicdibs-shadow-scondary;
}

.musicdibs-card.neutral {
  @apply musicdibs-shadow-neutral;
}

.musicdibs-card .card-body {
  @apply p-0;
}

.musicdibs-card .card-title {
  @apply font-bold uppercase text-primary;
}

.musicdibs-card.secondary .card-title {
  @apply text-secondary;
}

.musicdibs-card.neutral .card-title {
  @apply text-neutral;
}

.logo {
  max-width: 100px;
}

.menu :where(li) {
  justify-content: center;
}

.dropdown-content {
  background-color: var(--color-neutral);
}

.btn {
  @apply uppercase;
}

.btn:is(:disabled, [disabled], .btn-disabled):not(.btn-link, .btn-ghost) {
  background-color: color-mix(in oklab, var(--color-primary) 10%, transparent);
  box-shadow: none;
}

.btn-link {
  @apply transition-colors hover:text-primary;
}
.btn-link.btn-primary:hover {
  @apply text-primary-content;
}
.btn-ghost:hover {
  @apply border-primary bg-primary text-white shadow-none;
}

.timeline > li {
  flex-shrink: initial;
}

#instructions .timeline :where(hr) {
  @apply bg-white opacity-80;
  height: calc(0.15rem * 1);
}

.glass {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-image: linear-gradient(45deg, #1b1d3f80, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.fieldset-legend,
.table th {
  @apply text-base-200;
}

.file-input,
.input,
.textarea,
.select {
  @apply w-full border-gray-400 bg-base-content;
}
.textarea:has(> textarea[disabled]),
.textarea:is(:disabled, [disabled]) {
  background-color: var(--slate-400);
}

input.primary-content {
  color: var(--color-primary-content);
}

.btn[disabled] {
  @apply bg-opacity-80 text-base-200;
}

.stat-title,
.stat-figure,
.stat-value,
.stat-desc {
  @apply text-primary;
}

.secondary .stat-title,
.secondary .stat-figure,
.secondary .stat-value,
.secondary .stat-desc {
  @apply text-secondary;
}

.neutral .stat-title,
.neutral .stat-figure,
.neutral .stat-value,
.neutral .stat-desc {
  @apply text-neutral;
}

.stat-title {
  @apply text-lg font-semibold uppercase;
}

.stat-title {
  grid-column-start: 2;
}
.stat-figure {
  grid-column-start: 1;
}
.stat-value {
  grid-column-start: 2;
}

.chat-start .chat-bubble-custom {
  background-color: oklch(0.65 0.2191 8.08 / 0.3);
  color: oklch(40% 0.12 3.9);
}
.chat-end .chat-bubble-custom {
  background-color: oklch(89% 0.057 293.283);
  color: var(--color-neutral);
}

.stat {
  grid-template-columns: auto 1fr;
}

.timeline-middle > svg {
  left: 6%;
  position: relative;
  top: 6%;
}

@media screen and (max-width: 1024px) {
  .timeline > li {
    @apply mb-10;
    display: initial;
  }

  .timeline > li hr {
    @apply hidden;
  }
}

@media screen and (max-width: 640px) {
  .guxa {
    @apply block w-full;
    margin-top: 3rem !important;
  }

  .timeline-middle {
    margin: 0 auto;
  }
}
